.quote {
    background-color: rgb(20, 177, 177);
    color: white;
    margin-bottom: 15px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
}

.btn {
    text-decoration: none;
    background-color: #CFF6F6;
    color: rgb(20, 177, 177);
    padding: 7px;
}

.btn:hover {
    background-color: white;
    color: rgb(103, 102, 102);
}

.btn:active {
    transform: scale(0.85);
}